.Go{
    background-color: rgb(40, 45, 45);
    height: 100%;
    width: 100%;
    position: absolute;
}
.Click{
 background-color: aquamarine;
 color: rgb(0, 0, 0);
 font-weight: bold;
 font-size: 30px;
 height: 50px;
 width: 300px;
 left: calc(50% - 150px);
 top:calc(50% - 25px);
 position: absolute;
 cursor: pointer;
 border-radius: 10px;
}
.Click:hover{
    transform: translateY(-5px);
    transition: 0.5s;
}
.menu{
    background-color: black;
    width: 100%;
    height: 8%;
    color: antiquewhite;
    position: absolute;
    
}