.bgr{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
}
.cr{
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
  margin-top: 3%;
}
.bodyAccount{
  width: 60%;
  height: 70%;
  position: absolute;
  top: 20%;
  background-color: #10121c;
  left: 20%;
  border: 0.1em solid rgb(255, 255, 255);
  border-radius: 10px;
}
.bodyAccount{
  padding-top: 2%;
}
.email1{
  font-size: 16px;
  margin-top: 10px;
  color: rgb(255, 255, 255);
  margin-left: 30%;
}
.tx1{
  margin-left: 30%;
  width: 40%;
  height: 10%;
  font-size: 16px;
}
.txs1{
  font-size: 15px;
  text-align: center;
  text-shadow:0.1em 0.1em rgb(0, 0, 0) ;
  font-weight: bold;
  position: relative;
}

.txs1 a:hover{
  color: red;
  transition: 0.5s;
}
.button-save1{
  margin-left: 40%;
    width: 20%;
    cursor: pointer;
    background-color: #10121c;
    border: 0.03em solid rgb(255, 255, 255);
    color: white;
}
.button-save1:hover{
  background-color: #10121c;
  border: 0.03em solid rgb(255, 255, 255);
  transition: 0.5s;
  transform: scale(1.2);
  color: white;
}